 *{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', 'Oxygen';
  line-height: 1.5;
  background-color: #F5F1CE;
}
h1,h2,h3,h4,h5,h6{
  color: black;
}
/*index.html*/
section a{
  color: #fff;
}
section a:hover{
  color:#E0CE37;
}

.p{
  position: relative;
  margin-bottom: 10%;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;

}
.center{
  display: inline-block;
  position: relative;
  margin-bottom: -10%;
  text-align: center;
  margin:0 35%;
  letter-spacing: 0.5px;
  color: #C2C0B1;
}
.contain{
  position: relative;
  margin-top: -500px;
}

.p1 {
  font-family: 'Oxygen';
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}
.p2{
  text-align: center;
}

.bg-image{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  filter: blur(7px);
}
.fa{
  position:relative;
  top:10px;
}

.Koral-link:hover{
  color: #E0CE37;
}
.display{
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 22px;
}
#navbar{
  background-color: #34495E;
}
@media(min-width: 992px)
{
section ul{
  text-align: center;
  margin: auto;
}
section a{
  font-family: 'Montserrat', sans-serif;
  line-height: 2.0;
  font-size: 17px;
  margin: 0 10px -39px 10px;
}
.Koral-link{
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  bottom: 13px;
}
.Koral-link:hover{
  color:#fff;
}
.display
{
  font-size: 30px;
  position: relative;
  margin-bottom: 17px;
  display: none;
}
}
/*about us*/
.bg-aboutus{
  background-image: url("../images/aboutus.jpg");
   background-color: #cccccc;
   height: 600px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   padding-top: 110px;
   padding-bottom: 110px;
}
.text-aboutus h1,h6{
  color: #fff;
}
.text-aboutus{
  padding-top: 170px;
  margin-left:10%;
}
.header-aboutus{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

.content-details{
  display: inline-block;
  color: black;
  font-size: 15px;
  padding:10% 4% 4% 4%;

}
.header-content-details{
  font-weight: 600;
  margin-bottom: 3%;
}
.imp-info{
  background-color: #D5DBDB;
  display: inline-block;
  height:380px;
  margin-top: 10%;
  border-radius: 15%;
}
.content-imp-info{
  font-family: 'Oxygen';
  color: black;
  margin: 2%;
  font-size: 15px;
}
.content-imp-info h3, h4{
   text-align: center;
   padding-bottom: 15px;
   padding-top: 15px;
}
 .align-left{
  text-align: left;
}
.align-left {
  list-style: none;
}

.align-left li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

hr{
  width:40%;
  height:4px;
  border-radius: 5%;
  background-color: #34495E;
  margin:auto;

}
#hotel-details, #amenities, #cards, #apartments, #connect{
  margin-bottom: 6%;
  margin-top: 6%;
}
.key-amenities{
  text-align: center;

}
.header-key-amenities{
  padding-bottom: 8%;
}
.symbol-amenities{
  font-size: 35px;
  color: #34495E;
}
#amenities i{
  font-size: 35px;
    color: #34495E;
    -moz-transition:color .3s ease-in;
    -o-transition:color .3s ease-in;
    -webkit-transition:color .3s ease-in;
}
#amenities i:hover{
  color:#CFBE2C;
}

.card{
 text-align: center;
 margin: auto;
 border: 1px solid #34495E;
 height:455px;
 background: transparent;
 transition: all 0.3s ease;
 box-shadow: 12px 12px 25px 0px;
}
.cards{
  padding-bottom: 90px;
}

.header-cards{
  text-align: center;
  margin-bottom: 6%;
}
.btn-card{
  background-color: #34495E;
  border-color: #34495E;
}
.btn-card1{
  margin-top: -25px;
}
.btn-card2{
  margin-top: 30px;
}
.btn-card3{
  margin-top: 117px;
}

.aprt{
  /* width:100%; */
  height:25%;
  background-color: #34495E;
}
.header-aprt{
  color: #fff;
  font-weight: 600;
  position: relative;
  display: inline-block;
  /* margin-left: 8%; */
  margin-top: 2.5%;
  letter-spacing: 2px;
  text-align: center;
}
.header-aprt2{
  position: relative;
  margin-bottom: 20px;
}
.btn-aprt{
  position: relative;
  margin: auto;
}
#apartments a{
  color: #34495E;
  font-weight: bold;
}
#apartments a:hover{
  text-decoration: none;
}
.connect-content{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.connect-header{
  font-weight: 400;
  display: inline-block;
  margin-left: 2%;
  margin-right: 1%;
}
.sm-icon{
  font-size: 27px;
  margin-left: 1%;
  margin-right: 1%;
  /* -webkit-transition: .5s  all ease;
  -moz-transition: .5s all ease;
transition: .2s all ease; */
-moz-transition:color .3s ease-in;
-o-transition:color .3s ease-in;
-webkit-transition:color .3s ease-in;
  color: #34495E;
}
/* .sm-icon:hover{
  font-size: 30px;
} */
.fa-facebook-square:hover{
  color: #3b5998;
}
.fa-twitter:hover{
  color: #00acee;
}
.fa-instagram:hover{
  color:#8a3ab9;
}
.fa-google:hover{
  color:#db3236;
}
.connect-content a{
  color: #262E36;
}

.footer{
  background-color: #34495E;
  padding-top: 50px;
  text-align: center;
}
#footer h6{
  color:#fff;
  padding-bottom: 20px;
}
#footer p, i, a{
  color: #899199;
  font-size: 13px;
}
#footer ul li a{
  color: #899199;
  font-size: 13px;
}
#footer ul li a:hover{
  text-decoration: none;
}
#footer ul{
  list-style-type: none;
}
.copyright{
  text-align: center;
  background-color: #34495E;
  padding-bottom: 1px;
  padding-top: 10px;
}

/* Location */
.email-form{
  width:60%;
}
.email-form, .map{
  display: inline-block;
  margin:10%;
}
.btn-form{
  background-color: #34495E;
  border: none;
}
.header-location{
  font-family: 'Great Vibes', cursive;
  line-height: 2;
  text-align: center;
  color: #34495E;
  padding-top: 3%;
}
